# Ignore build output directories
bin/
obj/

# Ignore Visual Studio specific files
.vs/
.vs2019/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider (JetBrains) files
.idea/

# Ignore system-specific files (macOS, Windows)
.DS_Store
Thumbs.db
